spring:
  jackson:
    locale: en_US
    generator:
      write-bigdecimal-as-plain: true

  application:
    name: fintech-backend

  datasource:
    url: jdbc:h2:mem:fintechdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080